@font-face {
    font-family: 'AthenaoftheOcean';
    src: url('../fonts/AthenaoftheOcean.woff2') format('woff2'),
        url('../fonts/AthenaoftheOcean.woff') format('woff');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'EnglishwithIndianRupee';
    src: url('../fonts/EnglishwithIndianRupee.woff2') format('woff2'),
        url('../fonts/EnglishwithIndianRupee.woff') format('woff');
    font-style: normal;
    font-display: swap;
}