.locations {
    position: relative;
    background-image: url('../img/shutterstock_325028135.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        border-radius: 8px;
        position: relative;
        z-index: 20;
        margin-top: -60px;
        padding: 0;
    }

    &__wrapper {
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }

    &__title {
        display: inline;
        position: relative;
        color: #000000;
        font-family: "AthenaoftheOcean";
        font-size: 211px;

        &::after {
            content: '';
            position: absolute;
            bottom: 8px;
            right: 40px;
            background-color: $accent;
            height: 5px;
            width: 139px;
            border-radius: 3px;
        }
    }

    &__main {
        margin-top: 50px;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        padding: 0 30px 30px;
    }

    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            display: flex;
            align-items: center;
            color: $second;
            font-size: 30px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1.5px;

            &__img {
                margin-right: 20px;
            }
        }

        &__address {
            margin: 20px auto 25px;
            color: $second;
            font-size: 30px;
            max-width: 510px;
            text-align: center;
        }

        &__phone {
            display: flex;
            align-items: center;
            color: $second;
            font-size: 30px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            margin-bottom: 37px;
            transition: all 0.2s ease;

            &__img {
                margin-right: 20px;
            }

            &:hover {
                color: $accent;
            }
        }

        &__img {
            max-width: 779px;
            height: auto;
            object-fit: cover;
        }
    }

    .join {
        position: relative;
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 0 50px;

        &__title {
            color: #ffffff;
            font-size: 60px;
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;
            max-width: 960px;
            margin-bottom: 80px;
        }

        &__form {
            display: flex;
            align-items: center;
            padding-bottom: 50px;

            input[type='number'] {
                -moz-appearance: textfield;
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }

            &__input {
                height: 96px;
                width: 894px;
                border-radius: 6px;
                background-color: #ffffff;
                opacity: 0.4;
                margin-right: 45px;
                font-size: 28px;
                font-family: inherit;
                padding-left: 30px;
                padding-right: 30px;
            }

            &__btn {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #ffffff;
                font-size: 28px;
                font-weight: 600;
                text-transform: uppercase;
                border-radius: 6px;
                height: 96px;
                width: 315px;
                background-color: $accent;
                transition: all 0.2s ease;

                &:hover {
                    background-color: #fff;
                    color: $accent;
                }
            }
        }
    }
}

@media (max-width: 1680px) {
    .locations {
        &__title {
            font-size: 160px;

            &::after {
                right: 30px;
                width: 100px;
            }
        }

        &__main {
            padding: 0 15px 35px;
        }

        &__block {
            &__title {
                font-size: 24px;

                &__img {
                    margin-right: 10px;
                }
            }

            &__address {
                margin: 20px auto 20px;
                font-size: 20px;
            }

            &__phone {
                font-size: 20px;
                margin-bottom: 20px;

                &__img {
                    margin-right: 10px;
                }

                &:hover {
                    color: $accent;
                }
            }

            picture {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &__img {
                max-width: 80%;
                height: auto;
                object-fit: cover;
                margin: 0 auto;
            }
        }

        .join {
            position: relative;
            z-index: 5;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 80px 0 50px;

            &__title {
                font-size: 45px;
                margin-bottom: 60px;
                max-width: 550px;
            }

            &__form {
                padding-bottom: 50px;

                &__input {
                    height: 76px;
                    width: 500px;
                }

                &__btn {
                    font-size: 24px;
                    height: 76px;
                    width: 270px;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .locations {
        &__block {
            &__phone {
                &:hover {
                    color: $second;
                }
            }
        }

        .join {
            &__form {
                &__btn {
                    &:hover {
                        background-color: $accent;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .locations {
        &__container {
            border-radius: 0;
        }

        &__title {
            font-size: 120px;

            &::after {
                bottom: 4px;
                right: 20px;
                width: 80px;
            }
        }

        &__main {
            padding: 0 15px 35px;
            margin-top: 40px;
        }

        &__block {
            &__title {
                font-size: 20px;
            }

            &__address {
                font-size: 18px;
            }

            &__phone {
                font-size: 18px;
            }


            &__img {
                max-width: 90%;
            }
        }

        .join {
            position: relative;
            z-index: 5;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 60px 0 50px;

            &__title {
                font-size: 36px;
                margin-bottom: 40px;
                max-width: 500px;
            }

            &__form {
                padding-bottom: 30px;

                &__input {
                    height: 60px;
                    width: 400px;
                    margin-right: 20px;
                    font-size: 20px;
                    padding-right: 15px;
                }

                &__btn {
                    font-size: 20px;
                    height: 60px;
                    width: 200px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .locations {
        &__block {
            &__address {
                margin-left: 30px;
                margin-right: 30px;
                min-height: 50px;
            }
        }

        .join {
            position: relative;
            z-index: 5;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 60px 0 50px;

            &__title {
                font-size: 36px;
                margin-bottom: 40px;
                max-width: 500px;
            }

            &__form {
                padding-bottom: 30px;

                &__input {
                    height: 60px;
                    width: 300px;
                    margin-right: 20px;
                }

                &__btn {
                    font-size: 18px;
                    height: 60px;
                    width: 150px;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .locations {
        &__title {
            font-size: 100px;

            &::after {
                bottom: 4px;
                right: 25px;
                width: 60px;
                height: 2px;
            }
        }

        &__main {
            padding: 0 7px 35px;
            margin-top: 40px;
        }

        &__block {
            &__title {
                font-size: 18px;
            }

            &__address {
                font-size: 16px;
                margin: 10px;
            }

            &__phone {
                font-size: 16px;
            }


            &__img {
                max-width: 95%;
            }
        }

        .join {
            padding: 40px 0;

            &__title {
                font-size: 24px;
                max-width: 320px;
            }

            &__form {
                padding-bottom: 0;

                &__input {
                    height: 40px;
                    width: 200px;
                    margin-right: 20px;
                    padding-left: 15px;
                    padding-right: 10px;
                    font-size: 16px;
                }

                &__btn {
                    font-weight: 600;
                    font-size: 14px;
                    height: 40px;
                    width: 100px;
                }
            }
        }
    }
}

@media (max-width: 440px) {
    .locations {
        background-position: center 100px;
        &__container {
            background-color: #f6f4f1;
        }

        &__main {
            flex-wrap: wrap;
            margin-top: 0;
            justify-content: center;
            padding-top: 30px;
            padding-bottom: 0;
        }

        &__block {
            background-color: #fff;
            padding: 20px 0;
            max-width: 95%;
            margin-bottom: 25px;
            border-radius: 8px;
        }
    }
}
@media (max-width: 375px) {
    .locations {
        &__block {
            &__address {
                margin: 10px 10px 0px 10px;
            }
            &__phone {
                margin-bottom: 10px;
            }
        }
        .join {
            &__title {
                font-size: 20px;
                max-width: 300px;
            }
            &__form {
                &__input {
                    width: 180px;
                    font-size: 14px;
                }

                &__btn {
                    font-size: 14px;
                    width: 100px;
                }
            }
        }
    }
}